<div class="col-md-12 row">
  <div class="col-md-6 p-0">
    <h4> Web Crawler </h4>
  </div>
  <div class="col-md-6 p-0">
    <div class="text-right">
      <%= button_to  search_products_path, class:'text-right btn btn-primary' do %>
        Crawler Search
      <% end %>
    </div>
  </div>
</div>
<hr/>