<% if @products.present? %>
  <h4> Total Results : <%= Product.count %> </h4>
  <%= render partial: 'products/product', collection: @products, cached: true %>
<% else %>
  <div class="alert alert-info">
    <h5> No Products Found ! </h5>
  </div>
<% end %>
<div class="text-center">
  <%= will_paginate @products %>
</div>
